/* Font Face */
@font-face {
  font-family: 'Grashrock';
  src: url('../assets/fonts/Grashrock.ttf') format('truetype');
  font-display: swap;
}

/* Base Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d8e2bd;
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1;
    padding: 0.75rem 1.25rem 0 1.25rem;
    gap: 1.25rem;
    opacity: 0.80;
}

.rankings {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    overflow-x: auto;
}

h2 {
    font-family: 'Grashrock', Arial, sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0.75rem;
    padding: 2.5rem 0 1.5rem 0;
}

.rankings table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.rankings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    flex: 0.85;
}

@media (max-width: 600px) {
    h2 {
        font-size: 2.5rem;
        padding: 2rem 0 1rem 0;
    }
    
    .main-container {
        flex-direction: column;
        padding: 0.5rem 0.25rem 0 0.25rem;
        gap: 0.75rem;
    }
    
    .rankings {
        margin-bottom: 1.5rem;
    }
    
    .rankings-grid {
        grid-template-columns: 1fr;
        gap: 0.75rem;
    }
    
    .rankings table {
        font-size: 0.875rem;
        min-width: 300px;
        box-shadow: 0 2px 16px rgba(1, 1, 1, 1);
    }
}